**/.settings/
**/test-classes/
**/gwt-unitCache/
**/*.jar
**/log4j.properties
**/.classpath
**/.project
**/.google_apis/
MokapBackend/war/keys.api
MokapBackend/war/WEB-INF/classes/
MokapBackend/war/WEB-INF/appengine-generated/
MokapBackend/war/WEB-INF/deploy/
MokapBackend/war/WEB-INF/logging.properties
MokapBackend/war/mokapbackend/
