**/.settings/
**/test-classes/
**/gwt-unitCache/
**/*.jar
**/log4j.properties
**/.classpath
**/.project
**/.google_apis/
MokapBackend/src/main/webapp/keys.api
MokapBackend/src/main/webapp/WEB-INF/classes/
MokapBackend/src/main/webapp/WEB-INF/appengine-generated/
MokapBackend/src/main/webapp/WEB-INF/deploy/
MokapBackend/src/main/webapp/WEB-INF/logging.properties
MokapBackend/src/main/webapp/mokapbackend/
MokapBackend/war/**
.idea
target
*.iml
MokapBackend/src/main/java/META-INF/persistence.xml
*.p12
